<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" id="message">
    <button onclick="sendMessage()">Enviar</button>
    <p id="result"></p>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script>
    var socket = io('http://localhost:3000');

    function sendMessage() {
        var message = document.getElementById('message').value;
        socket.emit('message', { message: message });
    }

    socket.on('resultado', (data) => {
        document.getElementById('result').innerHTML = `Olá, recebemos a sua mensagem "${data.message}"`;
    })

    socket.on('disconnect', () => {
        console.log('disconnecting')
    })

</script>

</html>