body {
    background-color: #eceff1;
}

.menu img {
    width: 8rem;
    height: 2rem;
}

.menu a {
    font-size: 0.9rem;
    font-family: Arial;
    font-weight: 100;
}

.container-width {
    width: 50rem;
}

.data-pergunta {
    float: right;
    padding-top: 2rem;
    margin-bottom: 0;
}