body {
    background-color: #eceff1;
}

.menu a img {
    width: 10rem;
    height: 2.6rem;
}

.menu a {
    font-family: Arial;
    font-weight: 100;
    text-decoration: none;
}

.container-width {
    width: 50rem;
}


.table-content {
    text-align: center;
}