<body>
    <nav class="navbar navbar-dark bg-info menu">
        <div>
            <a class="navbar-brand" href="/"><h2>GuidePress |</h2></a>
            <a href="/categories/admin" class="nav-link">Categories</a>
            <a href="/articles/admin" class="nav-link">Articles</a>
        </div>
        <a class="navbar-brand" href="/">
            <img src="/img/guia.png" alt="guia">
        </a>
    </nav>
