<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>GuidePress</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-info menu">
        <div>
            <a class="navbar-brand" href="/"><h2>GuidePress |</h2></a>
            <a href="/categories/admin" class="nav-link">Categories</a>
            <a href="/articles/admin/new" class="nav-link">Articles</a>
        </div>
        <!-- <span class="mr-auto">
            <span class="nav-item">
            </span>
            <span class="nav-item">
            </span>
        </span> -->
        <a class="navbar-brand" href="/">
            <img src="/img/guia.png" alt="guia">
        </a>
    </nav>
