<body>
    <nav class="navbar navbar-dark bg-info menu">
        <div>
            <a class="navbar-brand" href="/"><h2>GuidePress |</h2></a>
            <a href="/" class="nav-link">Home</a>
        </div>
        <a class="navbar-brand" href="/">
            <img src="/img/guia.png" alt="guia">
        </a>
    </nav>
