<nav class="navbar navbar-dark bg-info menu">
    <a class="navbar-brand" href="/">
        <img src="/img/guia.png" alt="guia">
    </a>
    <a class="navbar-brand" href="/ask">
        Fazer uma Pergunta
    </a>
</nav>