<body>
    <nav class="navbar navbar-dark bg-info menu">
        <div class=" d-flex flex-nowrap">
            <% if(sessao) { %>
                <a class="navbar-brand " href="/articles/admin"><h2>Dashboard |</h2></a>
            <% } else { %>
                <a class="navbar-brand " href="/"><h2>GuidePress |</h2></a>
            <% } %>
            <% categories.forEach(category => { %>
                <a href="/category/<%=category.slug%>" class="nav-link text-capitalize small p-1 m-1"><%=category.title%></a>
            <% }) %>
        </div>
        <div class="ml-auto">
            <% if(sessao) { %>
                <a class="nav-link text-dark" href="/logout">Logout</a>
            <% } else { %>
                <a class="nav-link text-dark" href="/login">Login</a>
            <% } %>
        </div>
    </nav>
