<body>
    <nav class="navbar navbar-dark bg-info menu">
        <div>
            <a class="navbar-brand" href="/"><h2>GuidePress |</h2></a>
            <% categories.forEach(category => { %>
                <a href="/category/<%=category.slug%>" class="nav-link text-capitalize"><%=category.title%></a>
            <% }) %>
        </div>
        <a class="navbar-brand" href="/">
            <img src="/img/guia.png" alt="guia">
        </a>
    </nav>
